<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Speech
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <p>Is listening ? : {{ isListening }}</p>
  <button ion-button (click)="listen()">
    <div>
      <ion-icon name="mic">
        <label>Speak to me</label>
      </ion-icon>
    </div>
  </button>

  <ion-card>
    <ion-card-content *ngFor="let match of matches">
      <p>{{ match }}</p>
    </ion-card-content>
  </ion-card>
  <button ion-button (click)="startRecord()">Start record</button>
  <button ion-button (click)="stopRecord()">stop record</button> -->

  <button ion-button (click)="startCapture()" [disabled]="isCapturing">Start Capture</button>
  <button ion-button (click)="stopCapture()" [disabled]="!isCapturing">Stop Capture</button>
  <p *ngIf="isCapturing">{{ speechDetected ? 'Speech activity detected': 'no speech activity'}}</p>
</ion-content>